	*{
		/*border: 1px solid rgba(255,255,255, 0.2);*/
		
	}
	body {
		background-image: url("https://scontent-iad3-1.cdninstagram.com/t51.2885-15/e35/15875735_260248714389031_4489359882343940096_n.jpg");
		background-size: cover;
		background-attachment: fixed;
	}
	h1 {
		height: 50px;	
		text-align: center;
		font-size: 60px;
		color: Blue;
		text-shadow: 2px 2px Aqua;
	}
	
	a:link {
		text-decoration: none;
	}

	a:visited {
		text-decoration: none;
	}

	a:hover {
		text-decoration: none;
	}

	a:active {
		text-decoration: none;
	}
	
	h1:hover{
		transform: scale(1.1, 1.1); 
	}
	
	hr {
		border: none;
		height: 3px;
		color: rgba(255,255,255,0.2);
		background-color: rgba(255,255,255,0.2);
	}
	
	p {
		line-height: 110%;
		margin: 20;
		padding: 20;
	}
	
	li{
		
	}
	
	.projects {
		text-align: center;
	}
	
	.projectItem {
		font-size: 25px;
		display: inline-block;
		margin: auto;
		width: 380px;
		height: 410px;
		color: #FFF;
	}
	
	.containerBox {
		position: relative;
		display: inline-block;  
		border: 2px solid rgba(255,255,255, 0.6);
	}
	
	.containerBox:hover {
		transform: scale(1.1, 1.1); 
		
	}
	
	.description {
		position: relative; 
		text-align: center;    
		text-shadow: 1px 1px #00ff00;
		color: Green;
		font-size: 30px;
	}
	
	
	
	
	.text-box {
		position: absolute;    
		text-align: center;    
		display: inline-block;
		font-size: 30px;
		top: 20px;
		left:20px;
		max-width: 270px;
		color: #FFF;   
		text-shadow: 1px 1px #ff0000;
	}
	
	.img-responsive {
		display: block;
		width: 300px;
		height: auto;
	}
	
	.mainHead{
		position: relative;
		color: White;
		font-size: 40px;
		text-shadow: 1px 1px #ff0000;
		text-align: center;
	}
	
	.pgh-text {
		text-align: center;
		width: 70%;
		margin: auto;
		position: relative;
		font-size: 25px;
		color: #FFF;
		text-shadow: 2px 2px #000;
		background-color: rgba(0,100,100, 0.4);
	}
	
	.link {
		text-align: center;
		width: 15%;
		margin: auto;
		position: relative;
		font-size: 50px;
		color: #FFF;
		text-shadow: 2px 2px #000;
		background-color: rgba(0,100,100, 0.6);
		border-radius: 25px;
	}
	
	.link:hover {
		background-color: rgba(0,0,100, 0.8);
	}
	
	.ft-photo {
		position: relative;
		width: 35%;
		height: auto;
		display: flex;
		margin: auto;
		border: 3px solid rgba(255,255,255, 0.9);
		border-radius: 15px;
		/*align-items: center;
		justify-content: center;*/
	}
	
	.bodyText {
		background-color: rgba(0,0,0, 0.8);
		margin: auto;
	}
	
	.menu {
		box-sizing: border-box;
		width: 100%;
		height: 60px;
		text-align: center;
		position: fixed;
		z-index: 1000;
		background-color: rgba(40,100,255, 1.0);
		/*border: 3px solid rgba(155,155,155, 0.9);*/
	}
	
	.linkBar {
		display: inline-block;   
		background-color: rgba(0,0,255, 1.0);
		font-size: 30px;
		color: rgba(255,255,255, 1.0);
		width: 23%;
		height: 100%;
		margin: auto;
		text-decoration: none;
		box-sizing: border-box;
		border: 3px solid rgba(155,155,155, 0.9);
		border-radius: 10px;
	}
	
	.titleLink{
		display: inline-block;   
		background-color: rgba(10,50,180, 1.0);
		font-size: 30px;
		color: rgba(255,255,255, 1.0);
		width: 23%;
		height: 100%;
		margin: auto;
		text-align: middle;
		text-decoration: none;
		box-sizing: border-box;
		border: 3px solid rgba(155,155,155, 0.9);
		border-radius: 10px;
	}
	
	.linkBar:hover {
		background-color: rgba(100,100,100, 1.0);
	}

	